label{
    cursor: pointer;
  }
  
  label:hover{
   
    text-decoration: underline;
  }
  
  #file_input_id{
    display:none;
  }

  input[type="file"] {
    display: none;
}

.content{
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}


@media screen and (max-width: 768px) {
  .content{
    min-height: 100vh;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
 
  }
  .content-col{
    margin-top: 20px;
  }
}