@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* .header{
    font-family: 'roboto';
} */
*{
    font-family: 'roboto';
}
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-layout-background{
    /* background-color: rgb(184, 180, 180); */
}

.editButton{
    background-color: #1ed66b;
    color: black;
    border-radius: 20;
    height: 40px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.manageButton{
    background-color: #1eabd6;
    color: black;
    border-radius: 20;
    height: 40px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.deleteButton{
    background-color: #e60808;
    color: black;
    border-radius: 20;
    height: 40px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.ant-table-content {
    background-color: rgb(192, 213, 214);
}

.userCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: bold;
}
/* .uploadPhoto{
    display: inline-block;
  line-height: 30px;
  padding-left: 30px;
  background: url(../../logo.svg) no-repeat scroll 0 0 transparent;
} */

.tuma{
    table-layout: fixed;
    width: 400px;
}

.components-table-demo-nested{
}