@import '~antd/dist/antd.css';


.form-col {
    padding: 18px 18px;
  }

.login-title {
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
}

.login-logo{
  height: 30%;
  width: 30%;
}

.LoginBtn{
  background: #A0BF85;
  border-radius: 5px;
}

.form{
  background: F9F9F9;
}

.forgot{
  font-family: Inter;
font-style: normal;
font-weight: normal;
color: #000000;
}

.login{
  position: relative;
}


