@import '~antd/dist/antd.css';



.sidebar {
    padding: 5px 5px;
    height: 100%;
    font-family: Montserrat;
    font-style: normal;
    color: #393550;
    background: #FFFFFF;
}

.header{
    font-family: Montserrat;
    font-style: normal;
    font-size: 28px;
    color: #393550;
    background: #FFFFFF;
}

.logo{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 62px;
    top: 29px;
}

.menu1{
    position: static;
    width: 192px;
    height: 45px;
    left: 1px;
    top: 135px;
    padding: 3px 2px;
    
    background: #A0BF85;
    border-radius: 16px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

